<div class="product-list-container">
  <h1 class="product-title">Products</h1>
  <table class="product-table">
    <thead>
      <tr>
        <th class="column-title name-column">Name</th>
        <th class="column-title product-column">Price</th>
        <th class="column-title">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr  
        product-card
        *ngFor="let product of products" 
        [product]="product" 
        (clicked)="toProduct($event)"
      >
      </tr>
    </tbody>
  </table>
</div>
