.product-container {
  margin-left: 5vw;
  margin-right: 5vw;
  color: #5e5757;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 95%;
}
.product-title {
  font-size: 7vh;
  font-weight: 600;
}
.subheader {
  font-size: 3.5vh;
}
.product-text {
  font-size: max(2.5vh, 0.75rem);
}
